<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="WT Block .git">
                    <match url="\.git" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="WT Block data">
                    <match url="^data(/|$)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="WT Block app">
                    <match url="^app(/|$)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="WT Block modules">
                    <match url="^modules" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="WT Block resources">
                    <match url="^resources(/|$)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="WT Block vendor">
                    <match url="^vendor(/|$)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <!-- Scanner-Sonden abfangen, bevor PHP anlaeuft. Ausgenommen
                     sind index.php und die Alt-Adressen, fuer die webtrees
                     eigene Controller mitbringt - die leiten mit 301 auf die
                     neue Adresse um und muessen deshalb durchgelassen werden.
                     {URL} statt {REQUEST_URI}: letzteres enthaelt in IIS auch
                     die Abfragezeichenfolge, der Anker $ passt dann nie. -->
                <rule name="WT Block PHP Native" stopProcessing="true">
                    <match url=".*\.php$" />
                    <conditions>
                        <add input="{URL}" pattern="^/(index|family|individual|source|note)\.php$" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="410" statusReason="Gone" statusDescription="This resource no longer exists" />
                </rule>
                <rule name="WT Pretty URL" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <!-- PHP bekommt sonst die dekodierte Adresse. Bei Namen mit
                         Prozentkodierung fuehrt das zu falschen Treffern.
                         REQUEST_URI muss in IIS unter Rewrite als zulaessige
                         Servervariable eingetragen sein. -->
                    <serverVariables>
                        <set name="REQUEST_URI" value="{UNENCODED_URL}" />
                    </serverVariables>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="20480" maxQueryString="20480" />
            </requestFiltering>
        </security>
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="PHP/8.5+" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>