/* OSM Tile-Lines Fix */
.leaflet-container img.leaflet-tile {
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
    backface-visibility: hidden;
    transform: translateZ(0);
    outline: 1px solid transparent;
    margin-right: -0.5px;
    margin-left: -0.5px;
}
